<br>
<div class="show-details">
<div class="form-group div50">
  <label >
      <b>country : </b>
    
  </label>
  <span>
    {{details?.country}}
  </span>
</div>
<div class="form-group div50">
  <label >
    <b>email : </b>
  </label>
  <span>
    {{details?.email}}
  </span>
</div>
<div class="form-group div50">
  <label >
      <b>phoneNumber : </b>    
  </label>
  <span>
    {{details?.phoneNumber}}
  </span>
</div>
<div class="form-group div50">
  <label >
      <b>username : </b>
    
  </label>
  <span>
    {{details?.username}}
  </span>
</div>
</div>


  
  
